<p id="notice"><%= notice %></p>

<div class="item-container">
<h1>Things to do today</h1>
<div id="item-list" class="item-list"></div>



<div class="add-item-box" id="add-item-box">
<form class="add-item-form">
  <input type="text" class="enter-form" name="title" placeholder="Add new item">
  <input type="submit" class="enter-button" value="add">
</form>
</div>

