.matt{
  position: relative;
  background-color: #82FA58;
  width: 80%;
  height: 40px;
  margin: 2%;
  padding: 4px;
  font-size: 16pt;
}

.done{
  text-decoration: line-through;
}

.item-container{
  padding: 3%;
  position: fixed;
  background-color: #A9D0F5;
  left: 10%;
  top: 20%;
  height: 50%;
  width: 80%;
  overflow: scroll;
}

.add-item-box{
  line-height: 100px;
  position: relative;
  text-align: center;
  background-color: transparent;
  height: 20%;
  width: 100%;
}

.add-item-form{
  float: center;
}

.enter-form{
  width: 900px;
  height: 50px;
  font-size: 3em;
}
.enter-button{
  height: 50px;
  width: 50px;
  font-size: 13em;
}

a{
  float: right;
}